.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cards-aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 80px;
  @media (min-width: 768px) {
    position: fixed;
    top: 48%;
  }
  img {
    cursor: pointer;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 4px;
  }
}

.cards {
  display: flex;
  margin: 64px 0 64px 0;
  .trash-bin {
    cursor: pointer;
    position: absolute;
    top: 84px;
    right: 48px;
    z-index: 1;
    color: darkgray;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;

    &.show-false {
      display: none;
    }
  }
  h3 {
    margin: 20px;
    color: white;
    font-size: 32px;
  }
  .card-canvas {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    perspective: 1000px;
    height: 456px;
    @media (min-width: 768px) and (max-width: 997px) {
      height: 252px;
    }
    @media (min-width: 998px) and (max-width: 1199px) {
      height: 372px;
    }
    margin: 20px 20px 40px 20px;
    cursor: pointer;
    .card-canvas-inner {
      position: relative;
      transition: transform 1s;
      transform-style: preserve-3d;
      .card-thumbnail, .card-article {
        backface-visibility: hidden;
        position: absolute;
      }
      .card-article {
        padding: 20px;
        font-size: 24px;
        transform: rotateY( 180deg );
      }
    }
    &.opened-card-true {
      .card-canvas-inner {
        transform: rotateY( 180deg );
      }
    }

    @media (min-width: 768px) and (max-width: 997px) {
      height: 252px;
      .card-canvas-inner {
        .card-article {
          font-size: 12px;
        }
      }
    }
    @media (min-width: 998px) and (max-width: 1199px) {
      height: 372px;
      .card-canvas-inner {
        .card-article {
          font-size: 16px;
        }
      }
    }
  }
}
